/* custom styling for all icons */
i.fas,
i.fab {
  /* border: 1px solid black; */
  margin-left: 10px;
  /* padding:10px ; */
}

/* i.fas {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0)
} */

.fa-paper-plane {
  color: red;
  padding: -10px;

}

.fa-parking {
  padding: 15px;
}
.fa-sink {
  padding: 15px;
}
.fa-tshirt {
  padding: 15px;
}
.fa-snowflake {
  padding: 15px;
}
.fa-fire {
  padding: 15px;
}